/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    background-color: $block-color;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 22px 0px;
    color: $brand_color;
    display: flex;
    flex: 1 0 370px;
    font-weight: $font-weight-semibold;
    height: 240px;
    margin: 0 0 30px;
    max-width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.02);

      * {
        color: $brand_color;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a {
        color: $text_color;
      }
    }
  }

  &-item-link {
    color: $brand_color;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:hover,
    &:active {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: 1.75rem;
  }

  &-item-description {
    font-weight: $font-weight-light;
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
