/***** Hero component *****/
.hero {
  background: rgb(244, 252, 255);
  background: linear-gradient(
    180deg,
    $hero_gradient_start 0%,
    $hero_gradient_end 100%
  );
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
